---
// Import your components
import BaseLayout from "../../layouts/BaseLayout.astro";
import Projects from "../../components/Projects.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
---

<BaseLayout title="AltSource Hub">
    <Header />
    <main class="space-y-12">
        <Projects />
    </main>
    <Footer />
</BaseLayout>
