---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Studio from "../../components/Studio.astro";
---

<BaseLayout>
  <Header />

  <main>
    <Studio/>
  </main>

  <Footer />
</BaseLayout>
